// --- FONT ---
$baseFont: 'Noto Sans Japanese Regular', 'Helvetica Neue', 'Segoe UI', Helvetica, '游ゴシック体', YuGothic,
  'Yu Gothic M', '游ゴシック Medium', 'Yu Gothic Medium', 'メイリオ', Meiryo !default;
$inter: 'Inter', sans-serif !default;

// --- FONT SIZE ---
$fontSmall: 10px !default;
$fontBase: 14px !default;
$fontMedium: 22px !default;
$fontLarge: 35px !default;

// --- COLORS ---
$colorBlack: #000;
$colorWhite: #fff;
